springAnimation{
  text-align: center;
  display: block;
  height: 10vw;

  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  
  animation: 5s wobble linear 1;
  -webkit-animation: 5s wobble linear 1;

  font-family: Lobster, sans-serif;
  font-size: 10vw;
  font-weight: 700;
  font-family: STXingkai,"Agency FB",KaiTi;
  color:#E91E63;
}

@keyframes wobble {
  0% {
    transform: scale(0, 0);
  }
  1% {
    transform: scale(0.08648, 0.17943);
  }
  2% {
    transform: scale(0.29255, 0.54538);
  }
  3% {
    transform: scale(0.54538, 0.8944);
  }
  4% {
    transform: scale(0.78855, 1.12038);
  }
  5% {
    transform: scale(0.98584, 1.20515);
  }
  6% {
    transform: scale(1.12038, 1.18481);
  }
  7% {
    transform: scale(1.19105, 1.1134);
  }
  8% {
    transform: scale(1.20745, 1.03725);
  }
  9% {
    transform: scale(1.18481, 0.98331);
  }
  10% {
    transform: scale(1.13967, 0.95915);
  }
  11% {
    transform: scale(1.08677, 0.95921);
  }
  12% {
    transform: scale(1.03725, 0.97253);
  }
  13% {
    transform: scale(0.99801, 0.9888);
  }
  14% {
    transform: scale(0.97203, 1.00138);
  }
  15% {
    transform: scale(0.95915, 1.00783);
  }
  16% {
    transform: scale(0.95714, 1.00882);
  }
  17% {
    transform: scale(0.96274, 1.00649);
  }
  18% {
    transform: scale(0.97253, 1.00309);
  }
  19% {
    transform: scale(0.98355, 1.00022);
  }
  20% {
    transform: scale(0.9936, 0.99857);
  }
  21% {
    transform: scale(1.00138, 0.99813);
  }
  22% {
    transform: scale(1.00637, 0.9985);
  }
  23% {
    transform: scale(1.00868, 0.99919);
  }
  24% {
    transform: scale(1.00882, 0.99983);
  }
  25% {
    transform: scale(1.00749, 1.00024);
  }
  26% {
    transform: scale(1.00538, 1.00039);
  }
  27% {
    transform: scale(1.00309, 1.00034);
  }
  28% {
    transform: scale(1.00106, 1.0002);
  }
  29% {
    transform: scale(0.99953, 1.00006);
  }
  30% {
    transform: scale(0.99857, 0.99996);
  }
  31% {
    transform: scale(0.99817, 0.99992);
  }
  32% {
    transform: scale(0.99819, 0.99992);
  }
  33% {
    transform: scale(0.9985, 0.99995);
  }
  34% {
    transform: scale(0.99895, 0.99998);
  }
  35% {
    transform: scale(0.99942, 1);
  }
  36% {
    transform: scale(0.99983, 1.00001);
  }
  37% {
    transform: scale(1.00014, 1.00002);
  }
  38% {
    transform: scale(1.00032, 1.00001);
  }
  39% {
    transform: scale(1.00039, 1.00001);
  }
  40% {
    transform: scale(1.00037, 1);
  }
  41% {
    transform: scale(1.0003, 1);
  }
  42% {
    transform: scale(1.0002, 1);
  }
  43% {
    transform: scale(1.00011, 1);
  }
  44% {
    transform: scale(1.00002, 1);
  }
  45% {
    transform: scale(0.99996, 1);
  }
  46% {
    transform: scale(0.99993, 1);
  }
  47% {
    transform: scale(0.99992, 1);
  }
  48% {
    transform: scale(0.99992, 1);
  }
  49% {
    transform: scale(0.99994, 1);
  }
  50% {
    transform: scale(0.99996, 1);
  }
  51% {
    transform: scale(0.99998, 1);
  }
  52% {
    transform: scale(1, 1);
  }
  53% {
    transform: scale(1.00001, 1);
  }
  54% {
    transform: scale(1.00001, 1);
  }
  55% {
    transform: scale(1.00002, 1);
  }
  56% {
    transform: scale(1.00002, 1);
  }
  57% {
    transform: scale(1.00001, 1);
  }
  58% {
    transform: scale(1.00001, 1);
  }
  59% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1, 1);
  }
  61% {
    transform: scale(1, 1);
  }
  62% {
    transform: scale(1, 1);
  }
  63% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  65% {
    transform: scale(1, 1);
  }
  66% {
    transform: scale(1, 1);
  }
  67% {
    transform: scale(1, 1);
  }
  68% {
    transform: scale(1, 1);
  }
  69% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(1, 1);
  }
  71% {
    transform: scale(1, 1);
  }
  72% {
    transform: scale(1, 1);
  }
  73% {
    transform: scale(1, 1);
  }
  74% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(1, 1);
  }
  76% {
    transform: scale(1, 1);
  }
  77% {
    transform: scale(1, 1);
  }
  78% {
    transform: scale(1, 1);
  }
  79% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(1, 1);
  }
  81% {
    transform: scale(1, 1);
  }
  82% {
    transform: scale(1, 1);
  }
  83% {
    transform: scale(1, 1);
  }
  84% {
    transform: scale(1, 1);
  }
  85% {
    transform: scale(1, 1);
  }
  86% {
    transform: scale(1, 1);
  }
  87% {
    transform: scale(1, 1);
  }
  88% {
    transform: scale(1, 1);
  }
  89% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  91% {
    transform: scale(1, 1);
  }
  92% {
    transform: scale(1, 1);
  }
  93% {
    transform: scale(1, 1);
  }
  94% {
    transform: scale(1, 1);
  }
  95% {
    transform: scale(1, 1);
  }
  96% {
    transform: scale(1, 1);
  }
  97% {
    transform: scale(1, 1);
  }
  98% {
    transform: scale(1, 1);
  }
  99% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
