@charset "utf-8";
#sal-magnifier {
  height: 300px;
  width: 215px;
  background-color: 1px solid #e1e1e1;
  position: relative;
}
#sal-magnifier #sal-moveBox {
  height: 100px;
  width: 71.66666667px;
  border: 1px solid #e1e1e1;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: #fcc;
  position: absolute;
  z-index: 1;
  display: none;
}
#sal-magnifier #sal-mask {
  height: 300px;
  width: 215px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 1;
}
#sal-magnifier #sal-bigImg-wrap {
  height: 225px;
  width: 161.25px;
  position: absolute;
  top: 0;
  left: 225.75px;
  background-color: 1px solid #e1e1e1;
  overflow: hidden;
  display: none;
}
#sal-magnifier #sal-bigImg-wrap img {
  position: absolute;
  z-index: 2;
}
