@charset "utf-8";
* {
    box-sizing: border-box;
}

.round-switch {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border: 4px solid #4296DB;
  background: #e1e1e1;
  display: inline-block;
}
.round-switch b {
  background: #E91E63;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: inline-block;
  border: 4px solid #4296DB;
  position: relative;
  top: -4px;
  left: -4px;
}
